QWidget {
    background: #121818ff;
    color: #e7ededff;
}

QMainWindow {
    background: #121818ff;
    color: #e7ededff;
}

QMenu {
    background: #121818ff;
    color: #e7ededff;
}

MPLWidget {
    background: #e7ededff;
    color: #121818ff;
}

SearchBar {
    back
}
